
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Child_mobilebutton_11 {

}
.ui-btn.Child_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Child_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Child_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Child_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_39 */
.Child_mobilelabel_39 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* fldCDFname */
.Child_fldCDFname {
	margin: 4px 0px 4px 0px;
}
/* spacer_48 */
.Child_spacer_48 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* rgCDGender */
.Child_rgCDGender {
	margin: 4px 0px 4px 0px;
}
/* rbBoyChild */
.Child_rbBoyChild {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* rbGirlChild */
.Child_rbGirlChild {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* spacer_47 */
.Child_spacer_47 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_46 */
.Child_mobilelabel_46 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* fldCDBirthdate */
.Child_fldCDBirthdate {
	margin: 4px 0px 4px 0px;
}
.Child_fldCDBirthdate .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.Child_fldCDBirthdate .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* spacer_42 */
.Child_spacer_42 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* btnCDStart */
#Child_btnCDStart {

}
.ui-btn.Child_btnCDStart {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.Child_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Child_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Child_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Child_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Child_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Child_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Child_mobilelistitembutton_9 {

}