
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#EyeContactV1_mobilebutton_11 {

}
.ui-btn.EyeContactV1_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.EyeContactV1_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.EyeContactV1_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.EyeContactV1_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_23 */
.EyeContactV1_mobilelabel_23 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobileradiogroup_29 */
.EyeContactV1_mobileradiogroup_29 {
	margin: 4px 0px 4px 0px;
}
/* rECYes */
.EyeContactV1_rECYes {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* rECNo */
.EyeContactV1_rECNo {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* vimeo_28 */
.EyeContactV1_vimeo_28 {
	margin: 0px 0px 0px 0px;
	width: 265px; height: 223px;
	display: block;
}
/* btnECNext */
#EyeContactV1_btnECNext {

}
.ui-btn.EyeContactV1_btnECNext {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.EyeContactV1_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.EyeContactV1_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.EyeContactV1_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .EyeContactV1_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.EyeContactV1_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.EyeContactV1_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.EyeContactV1_mobilelistitembutton_9 {

}