
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Functions_mobilebutton_11 {

}
.ui-btn.Functions_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Functions_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Functions_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Functions_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelist_12 */
.ui-page .Functions_mobilelist_12 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.Functions_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.Functions_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
/* mobilelistitembutton_18 */
.Functions_mobilelistitembutton_18 {

}
/* mobilelistitem_19 */
/* mobilelistitembutton_20 */
.Functions_mobilelistitembutton_20 {

}
/* mobilefooter1 */
.Functions_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Functions_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Functions_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Functions_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Functions_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Functions_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Functions_mobilelistitembutton_9 {

}