
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Help_mobilebutton_11 {

}
.ui-btn.Help_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Help_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Help_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Help_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_13 */
.Help_mobilelabel_13 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter1 */
.Help_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Help_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Help_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Help_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Help_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Help_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Help_mobilelistitembutton_9 {

}