
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Preflight_mobilebutton_11 {

}
.ui-btn.Preflight_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Preflight_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Preflight_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Preflight_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_12 */
.Preflight_mobilelabel_12 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_13 */
.Preflight_spacer_13 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* lblName */
.Preflight_lblName {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* btnPFStart */
#Preflight_btnPFStart {

}
.ui-btn.Preflight_btnPFStart {
	margin: 4px 5px 4px 5px;
}
/* spacer_14 */
.Preflight_spacer_14 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilefooter1 */
.Preflight_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Preflight_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Preflight_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Preflight_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Preflight_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Preflight_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Preflight_mobilelistitembutton_9 {

}