
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Response2NameV1_mobilebutton_11 {

}
.ui-btn.Response2NameV1_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Response2NameV1_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Response2NameV1_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Response2NameV1_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_12 */
.Response2NameV1_mobilelabel_12 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobileradiogroup_13 */
.Response2NameV1_mobileradiogroup_13 {
	margin: 4px 0px 4px 0px;
}
/* rR2NYes */
.Response2NameV1_rR2NYes {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* rR2NNo */
.Response2NameV1_rR2NNo {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* vimeo_17 */
.Response2NameV1_vimeo_17 {
	margin: 0px 0px 0px 0px;
	width: 100%; height: 239px;
	display: block;
}
/* btnR2NNext */
#Response2NameV1_btnR2NNext {

}
.ui-btn.Response2NameV1_btnR2NNext {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.Response2NameV1_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Response2NameV1_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Response2NameV1_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Response2NameV1_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Response2NameV1_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Response2NameV1_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Response2NameV1_mobilelistitembutton_9 {

}