
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#ResultsSummaryV1_mobilebutton_11 {

}
.ui-btn.ResultsSummaryV1_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.ResultsSummaryV1_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.ResultsSummaryV1_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.ResultsSummaryV1_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* lblProcessed */
.ResultsSummaryV1_lblProcessed {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_27 */
.ResultsSummaryV1_spacer_27 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* imgNotAtRisk */
.ResultsSummaryV1_imgNotAtRisk {
	margin: 4px 0px 4px 0px;
	width: 86px; height: 82px;
	display: block;
	display: none;
}
/* imgAtRisk */
.ResultsSummaryV1_imgAtRisk {
	margin: 4px 0px 4px 0px;
	width: 89px; height: 89px;
	display: block;
	display: none;
}
/* lblAssessment */
.ResultsSummaryV1_lblAssessment {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_29 */
.ResultsSummaryV1_spacer_29 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* lblEmail */
.ResultsSummaryV1_lblEmail {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* lblResults */
.ResultsSummaryV1_lblResults {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter1 */
.ResultsSummaryV1_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.ResultsSummaryV1_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.ResultsSummaryV1_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .ResultsSummaryV1_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.ResultsSummaryV1_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.ResultsSummaryV1_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.ResultsSummaryV1_mobilelistitembutton_9 {

}