
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Screen1_mobilebutton_11 {

}
.ui-btn.Screen1_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Screen1_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_12 */
.Screen1_mobileimage_12 {
	margin: 2px 0px 0px 230px;
	width: 60px; height: 30px;
	display: block;
}
/* mobileworkarea_10*/
.Screen1_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilefooter1 */
.Screen1_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Screen1_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Screen1_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Screen1_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Screen1_mobilelistitembutton_5 {

}
/* liHelp */
/* mobilelistitembutton_7 */
.Screen1_mobilelistitembutton_7 {

}
/* panelAboutOTARC */
/* mobilelistitembutton_9 */
.Screen1_mobilelistitembutton_9 {

}