<ion-view title="ASDetect - Assessments" hide-back-button="true" class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

      <!-- <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        -->

        <div ng-repeat="a in assessment" class="list" style="margin: 0; margin-bottom: -1px">
           
           <a class="item item-thumbnail-left" href="#">
               
                    
                    <h2>{{a.child_s_first_name__c}} {{a.child_s_last_name__c}} ({{a.childs_nickname__c}})</h2>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">Id: {{a.id}}</p>   
                     <p style="margin-bottom: 0px;padding-bottom:0px;">SFDC Ref: {{a.name}}</p>    
                     <p style="margin-bottom: 0px;padding-bottom:0px;">Date: {{a.consultation_date__c  |  date:'MMM dd yyyy'}}</p>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">Type: {{a.record_type__c}}</p>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">At risk?: {{a.at_risk__c}}</p>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">Age At Assessment (Y:M): {{a.age_at_time_of_assessment_years_months__c}}</p>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">HC: {{a._hc_lastop}}</p>
                     <p style="margin-bottom: 0px;padding-bottom:0px;">{{a._hc.err}}</p>     
            </a>
        </div>
 

    </ion-content>

</ion-view> 