<ion-view title="Child Details" class="card-bg">

<ion-content has-header="true" padding="true">
<ion-nav-buttons side="right">
<a ui-sref="app.edit-child({childId: child.externalchildid__c})">Edit</a>
</ion-nav-buttons>

<div class="list card">
    <div class="item">
       <h2>{{child.child_s_first_name__c}} {{child.child_s_last_name__c}} ({{child.childs_nickname__c}})</h2>

       <p>Child details</p>
   </div>
   <div class="item item-body">
       <a ui-sref="app.12Massessment({childId: child.externalchildid__c})">
        <button ng-disabled="child.total_months_old__c<11 || child.total_months_old__c>=16" class="button button-assertive" >12M assessment</button>
    </a>
    
    <a ui-sref="app.18Massessment({childId: child.externalchildid__c})">
        <button ng-disabled="child.total_months_old__c<16 || child.total_months_old__c>=22" class="button button-assertive" >18M Assessment</button>
    </a>
    
    <a ui-sref="app.24Massessment({childId: child.externalchildid__c})">
        <button ng-disabled="child.total_months_old__c<22 || child.total_months_old__c>=31" class="button button-assertive" >24M Assessment</button>
    </a>
    

    <a ui-sref="app.35Yassessment({childId: child.externalchildid__c})">
        <button ng-disabled="child.total_months_old__c<31" class="button button-assertive" >35Y Assessment</button>
    </a>
    <p>ID: {{child.id}}</p>
    <p>Initials: {{child.childs_initials__c}}</p>
    <p>Gender: {{child.gender__c}}</p>
    <p>Birthdate: {{child.birthdate__c | date:'MMM dd yyyy'}}</p>
    <p>Mths Old: {{child.total_months_old__c}}</p>
    <p>At Risk?: {{child.child_currently_at_risk__c}}</p>
    <p>Ever At Risk?: {{child.child_ever_at_risk__c}}</p>
    <p>ExternalID: {{child.externalchildid__c}}</p>
    <p>HC: {{child._hc_lastop}}</p>
    <p>{{child._hc_err}}</p>


</div>

</div>


</div>

</ion-content>

</ion-view>