<ion-view title="ASDetect - Children" hide-back-button="true" class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

      <!-- <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        -->


        <div ng-repeat="child in children" class="list card">
            <a ui-sref="app.child-detail({childId: child.id})">
                <div class="item">
                    
                    
                     <h2>{{child.childs_initials__c}}</h2>
                    
                    
                </div>
                <div class="item item-body">

                    <p>ID: {{child.id}}</p>
                    <p>Gender: {{child.gender__c}}</p>
                    <p>DOB: {{child.birthdate__c}}</p>
                    <p>Mths old: {{child.total_months_old__c}}</p>
                    <p>At Risk?: {{child.child_currently_at_risk__c}}</p>
                    <p>ExternalID: {{child.externalchildid__c}}</p>
                    <p>HC: {{child._hc_lastop}}</p>
                    <p>{{child._hc_err}}</p>
                    

                </div>
            </a>
        </div>
 

    </ion-content>

</ion-view> 