<ion-view title="Child Details" class="card-bg">

<ion-content has-header="true" padding="true">
<ion-nav-buttons side="right">
<a ui-sref="app.edit-child({childId: child.id})">Edit</a>
</ion-nav-buttons>

<div class="list card">
    <div class="item">
        <h2>ID: {{child.id }}</h2>
        <p>Child details</p>
    </div>
    <div class="item item-body">
        <a ui-sref="app.12Massessment({childId: child.id})">
            <button class="class="button button-small" >Do Assessment</button>
        </a>

        <p>{{child.childs_initials__c}}</p>
        <p>{{child.gender__c}}</p>
        <p>{{child.birthdate__c}}</p>
        <p>{{child.child_currently_at_risk__c}}</p>
        <p>{{child.externalchildid__c}}</p>


    </div>

</div>


</div>

</ion-content>

</ion-view>