<ion-view title="Child Details" class="card-bg">

    <ion-content has-header="true" padding="true">
 <ion-nav-buttons side="right">
         <a ui-sref="app.edit-child({childId: child.id})">Edit</a>
    </ion-nav-buttons>
        <div class="list card">
            <div class="item">
                <h2>{{child.id }}</h2>
                <p>Child details text!</p>
            </div>
            <div class="item item-body">
                
                <p>{{child.childsinitials}}</p>
                    <p>{{child.gender}}</p>
                    <p>{{child.birthdate}}</p>
                    <p>{{child.currentlyatrisk}}</p>
                    <p>{{child.externalchildid}}</p>
                
            </div>
           
        </div>


        </div>

    </ion-content>

</ion-view>