

   <ion-view title="Thanks from ASDetect!">


    <ion-content has-header="true" padding="true">



     <div class="list list-inset" style="margin-top: 0px;">

  
         
           <div class="item item-image">
           <img src="css/img/ask.png" style="width:65%; margin:0 auto;display: block;"/>
 
        
  </div>

    <div>
                    <button class="button icon ion-ios7-camera button-light" <button onclick="window.location.href='asdetect://application'">Login</button> style="width: 68px;"></button><br/>
                    </button>
                </div>

            

        </div>

    </ion-content>



</ion-view>

